@model IEnumerable<project1.Data.datamodel.model2>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/menu/Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model1Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sentence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InEnglish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InMyanmar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model1Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sentence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InEnglish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InMyanmar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExampleKey">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExampleKey">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExampleKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
